<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="com.teslacoilsw.launcher" platformBuildVersionCode="35" platformBuildVersionName="15">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <permission android:description="@string/permdesc_read_settings" android:label="@string/permlab_read_settings" android:name="com.teslacoilsw.launcher.permission.NOVA" android:protectionLevel="signature"/>
    <uses-permission android:name="com.teslacoilsw.launcher.permission.NOVA"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.INSERT"/>
            <data android:mimeType="vnd.android.cursor.dir/event"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="sms"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:path="tel:"/>
        </intent>
        <package android:name="com.spotify.music"/>
        <package android:name="com.spotify.music.debug"/>
        <package android:name="com.spotify.music.canary"/>
        <package android:name="com.spotify.music.partners"/>
        <intent>
            <action android:name="com.spotify.sso.action.START_AUTH_FLOW"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
        <package android:name="com.facebook.katana"/>
    </queries>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <permission android:name="com.teslacoilsw.launcher.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.teslacoilsw.launcher.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:backupAgent="com.android.launcher3.LauncherBackupAgent" android:backupInForeground="true" android:extractNativeLibs="false" android:fullBackupContent="@xml/backupscheme" android:fullBackupOnly="true" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher_home" android:label="@string/derived_app_name" android:largeHeap="@bool/config_largeHeap" android:localeConfig="@xml/_generated_res_locale_config" android:name="com.teslacoilsw.launcher.NovaApplication" android:restoreAnyVersion="true" android:supportsRtl="true" android:theme="@style/AppTheme">
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <activity android:clearTaskOnLaunch="true" android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|density" android:enabled="true" android:exported="true" android:launchMode="singleTask" android:name="com.teslacoilsw.launcher.NovaLauncher" android:resizeableActivity="true" android:resumeWhilePausing="true" android:screenOrientation="unspecified" android:stateNotNeeded="true" android:taskAffinity="" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER_APP"/>
            </intent-filter>
            <meta-data android:name="com.android.launcher3.grid.control" android:value="com.teslacoilsw.launcher.grid_control"/>
        </activity>
        <activity android:exported="true" android:finishOnCloseSystemDialogs="true" android:icon="@drawable/ic_allapps" android:label="@string/nova_action" android:name="com.teslacoilsw.launcher.NovaShortcutCreateActivity" android:process=":wallpaper_chooser" android:theme="@style/Nova.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.teslacoilsw.launcher.NovaShortcutHandler" android:noHistory="false" android:stateNotNeeded="true" android:taskAffinity="" android:theme="@style/Nova.Translucent" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.teslacoilsw.launcher.ACTION_GOOGLE_NOW_SETTINGS"/>
                <action android:name="com.teslacoilsw.launcher.ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/app_shortcuts"/>
        </activity>
        <activity android:autoRemoveFromRecents="true" android:name="com.teslacoilsw.launcher.onboarding.FirstRunActivityCompose" android:theme="@style/Nova.DayNight.Wallpaper"/>
        <activity android:autoRemoveFromRecents="true" android:name="com.teslacoilsw.launcher.onboarding.WhatsNewActivity" android:theme="@style/Nova.DayNight.Wallpaper"/>
        <activity android:autoRemoveFromRecents="true" android:exported="true" android:icon="@drawable/launcher_icon_settings" android:label="Nova Settings Legacy" android:name="com.teslacoilsw.launcher.preferences.SettingsActivityLegacy" android:theme="@style/Nova.DayNight.Wallpaper"/>
        <activity android:autoRemoveFromRecents="true" android:exported="true" android:icon="@drawable/launcher_icon_settings" android:label="@string/nova_settings" android:name="com.teslacoilsw.launcher.preferences.SettingsActivity" android:theme="@style/Nova.DayNight.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/nova_settings" android:name="com.teslacoilsw.launcher.preferences.NovaSettingsSearchActivity" android:parentActivityName="com.teslacoilsw.launcher.preferences.SettingsActivityLegacy" android:theme="@style/Nova.Translucent">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.teslacoilsw.launcher.preferences.SettingsActivityLegacy"/>
        </activity>
        <activity android:icon="@drawable/launcher_icon_settings" android:label="@string/preference_icon_layout" android:name="com.teslacoilsw.launcher.preferences.AdaptiveIconSettingsActivity" android:theme="@style/Nova.DayNight.Wallpaper"/>
        <activity android:icon="@drawable/launcher_icon_settings" android:label="@string/preference_icon_layout" android:name="com.teslacoilsw.launcher.preferences.IconLayoutSettingsActivity" android:theme="@style/Nova.DayNight.Wallpaper"/>
        <activity android:finishOnCloseSystemDialogs="true" android:label="Theme Picker" android:name="com.teslacoilsw.launcher.theme.PickerActivity" android:process=":wallpaper_chooser" android:theme="@style/Nova.DayNight.Wallpaper"/>
        <activity android:label="@string/choose_action" android:name="com.teslacoilsw.launcher.ChooseActionIntentActivity" android:theme="@style/Nova.DayNight"/>
        <activity android:label="@string/activity_licensing_enter_code" android:name="com.teslacoilsw.tesladirect.DirectLicensingEnterCode" android:theme="@style/Nova.DayNight" android:windowSoftInputMode="stateHidden"/>
        <activity android:icon="@mipmap/ic_launcher_bulkadd" android:label="@string/apps_or_folder" android:name="com.teslacoilsw.launcher.BulkAddAppActivity" android:theme="@style/Nova.DayNight"/>
        <activity android:exported="true" android:finishOnCloseSystemDialogs="true" android:icon="@mipmap/ic_launcher_puzzle" android:label="@string/activities_shortcuts" android:name="com.teslacoilsw.launcher.ActivitiesShortcutActivity" android:process=":wallpaper_chooser" android:theme="@style/Nova.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:enabled="false" android:exported="true" android:name="com.teslacoilsw.launcher.homereset.HomeReset">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:enabled="true" android:excludeFromRecents="true" android:exported="true" android:finishOnCloseSystemDialogs="true" android:launchMode="singleInstance" android:name="com.teslacoilsw.launcher.integrations.IntegrationPermissionActivity" android:noHistory="true" android:theme="@style/Nova.Translucent">
            <intent-filter>
                <action android:name="com.teslacoilsw.launcher.CONFIGURE_INTEGRATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="ninja.sesame.lib.bridge.v1.action.BEACON"/>
            </intent-filter>
        </activity>
        <activity android:enabled="false" android:excludeFromRecents="true" android:exported="true" android:launchMode="singleInstance" android:name="ninja.sesame.lib.bridge.v1.access.RelayActivity" android:noHistory="true" android:stateNotNeeded="true" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="ninja.sesame.lib.bridge.v1.action.RELAY"/>
            </intent-filter>
        </activity>
        <activity android:enabled="false" android:excludeFromRecents="true" android:exported="false" android:launchMode="standard" android:name="ninja.sesame.lib.bridge.v1.access.IntegrationActivity" android:noHistory="true" android:stateNotNeeded="true" android:theme="@style/__sesame_lib__InvisibleTheme"/>
        <provider android:authorities="com.teslacoilsw.launcher.sesame-lib.command" android:enabled="false" android:exported="true" android:name="ninja.sesame.lib.bridge.v1.access.CommandProvider"/>
        <provider android:authorities="com.teslacoilsw.launcher.sesame-lib.icons" android:enabled="false" android:exported="true" android:name="ninja.sesame.lib.bridge.v1.access.IconProvider"/>
        <activity android:label="@string/preference_configure_tabs" android:name="com.teslacoilsw.launcher.drawer.drawergroups.DrawerTabSetupActivity" android:theme="@style/Nova.DayNight"/>
        <activity android:label="@string/hide_apps" android:name="com.teslacoilsw.launcher.drawer.drawergroups.GroupAppListActivity" android:theme="@style/Nova.DayNight"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:finishOnCloseSystemDialogs="true" android:label="@string/nova_wallpaper" android:name="com.teslacoilsw.launcher.wallpaper.app.CropImage" android:process=":wallpaper_chooser" android:theme="@style/Nova.Dark" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:exported="true" android:finishOnCloseSystemDialogs="true" android:label="@string/nova_wallpaper" android:name="com.android.launcher3.LauncherWallpaperPickerActivity" android:process=":wallpaper_chooser" android:theme="@style/Nova.WallpaperCrop">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:finishOnCloseSystemDialogs="true" android:label="@string/nova_wallpaper" android:name="com.android.launcher3.WallpaperCropActivity" android:process=":wallpaper_chooser" android:theme="@style/Nova.WallpaperCrop">
            <intent-filter>
                <action android:name="android.service.wallpaper.CROP_AND_SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ATTACH_DATA"/>
                <data android:mimeType="image/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Changelog" android:name="com.teslacoilsw.tesladirect.ChangeLogDialog" android:theme="@style/Nova.DayNight"/>
        <activity android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:exported="true" android:finishOnCloseSystemDialogs="true" android:launchMode="singleInstance" android:name="com.teslacoilsw.launcher.IconThemePrompt" android:noHistory="true" android:theme="@style/Nova.Translucent">
            <intent-filter>
                <action android:name="com.teslacoilsw.launcher.APPLY_ICON_THEME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:label="Contact Nova Support" android:name="com.teslacoilsw.launcher.preferences.ContactSupportActivity" android:theme="@style/Nova.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="mailto" android:sspPattern="support@branch.com"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:exported="true" android:finishOnCloseSystemDialogs="true" android:launchMode="singleInstance" android:name="com.teslacoilsw.launcher.RestoreBackupFileHandler" android:noHistory="true" android:theme="@style/Nova.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/vnd.novalauncher.backup" android:scheme="content"/>
                <data android:mimeType="application/octet-stream" android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="content"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:pathPattern=".*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
                <data android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.novabackup" android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:name="com.teslacoilsw.launcher.screenoff.TimeOutActivity" android:noHistory="true" android:screenOrientation="locked" android:theme="@style/Nova.TimeOut"/>
        <activity android:autoRemoveFromRecents="true" android:excludeFromRecents="true" android:icon="@drawable/ic_allapps" android:label="@string/nova_action_app_drawer" android:name="com.teslacoilsw.launcher.preferences.AddAppDrawerActivity" android:theme="@style/AddItemActivityTheme"/>
        <provider android:authorities="com.teslacoilsw.launcher.api" android:exported="true" android:name="com.teslacoilsw.launcher.ApiProvider"/>
        <provider android:authorities="com.teslacoilsw.launcher.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="aosp.androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths"/>
        </provider>
        <receiver android:enabled="true" android:exported="true" android:name="com.teslacoilsw.launcher.oem.samsung.SamsungThemeReceiver" android:permission="com.samsung.android.permission.MODIFY_THEME">
            <intent-filter>
                <action android:name="com.samsung.android.theme.themecenter.THEME_APPLY"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.teslacoilsw.launcher.oem.razer.RazerThemeReceiver" android:permission="razer.permission.RESTART_UI">
            <intent-filter>
                <action android:name="com.razerzone.intent.action.THEME_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.teslacoilsw.launcher.screenoff.DeviceAdminEnableActivity" android:theme="@style/Nova.Translucent"/>
        <activity android:name="com.teslacoilsw.launcher.search.calendar.CalendarPermissionActivity" android:theme="@style/Nova.Translucent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.teslacoilsw.launcher.games.GamesActivity" android:taskAffinity=".games" android:theme="@style/Nova.DayNight"/>
        <activity android:exported="false" android:name="io.branch.engage.sesame_lite.api_integration.SlackOauthActivity"/>
        <activity android:exported="true" android:launchMode="singleInstance" android:name="com.teslacoilsw.launcher.search.shortcutsearch.authorization.LoginOauthActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="io.branch.search" android:path="/callback/oauth2" android:scheme="disco"/>
            </intent-filter>
        </activity>
        <receiver android:description="@string/deviceadmin_description" android:enabled="true" android:exported="true" android:name="com.teslacoilsw.launcher.NovaDeviceAdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.teslacoilsw.launcher.MyPackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="true" android:name="com.teslacoilsw.launcher.NovaAccessibilityService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibilityservice_config"/>
        </service>
        <service android:exported="true" android:label="@string/notification_service_label" android:name="com.teslacoilsw.launcher.notificationlistener.NotificationListener" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.teslacoilsw.launcher.wallpaper.compat.WallpaperManagerCompatVL$ColorExtractionService" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":wallpaper_chooser"/>
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false"/>
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false"/>
        <meta-data android:name="com.samsung.android.non_immersive" android:value="true"/>
        <meta-data android:name="com.bugsnag.android.API_KEY" android:value="c05180892e167fe2adc244954e7e3403"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBdDzbs3DuxucMmToxLxRe49qSf9oA3W-s"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-4858839354660716~2363379427"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="\ 863478119724418"/>
        <receiver android:exported="true" android:name="com.android.launcher3.SessionCommitReceiver">
            <intent-filter>
                <action android:name="android.content.pm.action.SESSION_COMMITTED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.android.launcher3.AppWidgetsRestoredReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="android.nfc.disable_beam_default" android:value="true"/>
        <activity android:autoRemoveFromRecents="true" android:excludeFromRecents="true" android:exported="true" android:name="com.android.launcher3.dragndrop.AddItemActivity" android:theme="@style/AddItemActivityTheme">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT"/>
                <action android:name="android.content.pm.action.CONFIRM_PIN_APPWIDGET"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.teslacoilsw.launcher.settings" android:exported="false" android:name="com.android.launcher3.LauncherProvider"/>
        <activity android:enabled="false" android:exported="true" android:launchMode="singleTop" android:name="com.android.launcher3.secondarydisplay.SecondaryDisplayLauncher" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SECONDARY_HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.moloco.sdk.xenoss.sdkdevkit.android.adrenderer.internal.templates.renderer.fullscreen.FullscreenWebviewActivity" android:theme="@style/FullscreenAdActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.moloco.sdk.xenoss.sdkdevkit.android.adrenderer.internal.vast.VastActivity" android:screenOrientation="fullSensor" android:theme="@style/FullscreenAdActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.moloco.sdk.xenoss.sdkdevkit.android.adrenderer.internal.staticrenderer.StaticAdActivity" android:screenOrientation="fullSensor" android:theme="@style/FullscreenAdActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.moloco.sdk.xenoss.sdkdevkit.android.adrenderer.internal.mraid.MraidActivity" android:screenOrientation="fullSensor" android:theme="@style/FullscreenAdActivity"/>
        <activity android:exported="false" android:label="@string/places_autocomplete_label" android:name="com.google.android.libraries.places.widget.AutocompleteActivity" android:theme="@style/PlacesAutocompleteOverlay" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.google.android.libraries.ads.mobile.sdk.common.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <property android:name="android.adservices.AD_SERVICES_CONFIG" android:resource="@xml/ga_ad_services_config"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.FirebaseRemoteConfigKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:enabled="true" android:exported="false" android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <provider android:authorities="com.teslacoilsw.launcher.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.spotify.sdk.android.auth.LoginActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="io.branch.search.spotify" android:scheme="disco"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="io.branch.engage.sesame_lite.api_integration.AskPermissionActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.teslacoilsw.launcher.searchResultFileProvider" android:exported="false" android:grantUriPermissions="true" android:name="io.branch.engage.sesame_lite.api_integration.files.SearchResultFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:launchMode="singleTop" android:name="com.vungle.ads.internal.ui.VungleActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <provider android:authorities="com.teslacoilsw.launcher.vungle-provider" android:exported="false" android:initOrder="102" android:name="com.vungle.ads.VungleProvider"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.facebook.ads.AudienceNetworkActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.teslacoilsw.launcher.AudienceNetworkContentProvider" android:exported="false" android:name="com.facebook.ads.AudienceNetworkContentProvider"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <provider android:authorities="com.teslacoilsw.launcher.bugsnag-startup" android:exported="false" android:initOrder="9000" android:name="com.bugsnag.android.internal.BugsnagContentProvider"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <meta-data android:name="com.bugsnag.android.BUILD_UUID" android:value="ae668701-60b5-422b-b4dd-086e0e7e7435"/>
    </application>
</manifest>
